body {margin: 0;}

nav
{
    line-height: 30px;
    background-color: #eeeeee;
    height: 100vh;
    width: 10vw;
    padding: 5px 0;
    box-sizing: padding-box;
    position: fixed;
    top: 0;
    overflow: auto;
}

nav .logo
{
    max-width: 100%;
}

nav ol
{
    list-style: none;
    padding: 0;
}

nav a
{
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 3px;
}

nav li a:hover {background: #fafafa;}
nav li.folder.selected > a {text-decoration: underline; font-weight: bold;}
nav li.error, nav li.error a {text-decoration: line-through; color: darkred;}

nav li {transition: background-color 1s ease;}
nav li.folder {transition: background-color 2s ease 0.1s;}
nav li.selected {transition: background-color 1s ease-out;}

nav .folder ol {max-height: 0em; overflow: hidden; transition: max-height 1s ease-in-out;}
nav .folder.selected ol {max-height: 10em;}

#content, #page-footer
{
    margin-top: 1em;
    margin-left: 10vw;
    padding: 0 1em 0 1em;
}

#message-box
{
    background: darkred;
    color: white;
    border-radius: 0 0 1.5em 1.5em;
    height: 2.5em;
    left: calc(50% - 12em);
    position: fixed;
    text-align: center;
    top: -2.5em;
    width: 24em;
    padding-top: 0.1em;
    box-sizing: padding-box;
    transition: top 0.5s;
}

#message-box.show
{
    top: 0em;
}
